.menu__text {
  color: #9296A0;
  max-width: 200px;
  text-decoration: none;
  margin: 0 0 0 20px;
  padding: 0;
  display: none;
}

.menu__text_visible {
  display: block;
}

.menu__text_animation {
  display: block;
  animation: showText ease-in-out 0.3s;
}

